body{
  padding: 0;
  margin: 0;
}
.container1{
  
  height: 70px;
  width: 140px;
  margin-bottom: 2rem;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 20%;
  left: 11%;
  box-shadow: -7px -7px 15px rgba(255,255,255,0.65),
    7px 7px 15px rgba(70,70,70,0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;

}
input[type="checkbox"]{
  position: absolute;
  -webkit-appearance:none;
  height: 80px;
  width: 160px;
  border: 5px solid #ececec;
  box-shadow:
    -7px -7px 15px rgba(255,255,255,0.65),
    7px 7px 15px rgba(70,70,70,0.12),
    inset -7px -7px 15px rgba(255,255,255,0.65),
    inset 7px 7px 15px rgba(70,70,70,0.12)
    ;
  outline: none;
  cursor: pointer;
  left:15px;
  border-radius: 40px;
}
input[type="checkbox"]:before,
input[type="checkbox"]:after{
  content: "";
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}
input[type="checkbox"]:before{
  height: 50px;
  width: 50px;
  background-color: #ececec;
  box-shadow: -7px -7px 15px rgba(255,255,255,0.75),
    7px 7px 15px rgba(138, 0, 0, 0.12);
  border-radius: 50%;
  left: 15px;
}
input[type="checkbox"]:after{
  height: 15px;
  width: 15px;
  background-color: #e65858;
  border-radius: 50%;
  right: -55px;
}
input[type="checkbox"]:checked:before{
  left: 86px;
}
input[type="checkbox"]:checked:after{
  background-color: #55f696;
}
