.block {
  width: 2.03%;
  margin-left: 10px;
  margin-top: 5px;
  height: 90%;
  float: left;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #a6a6a6, inset -5px -5px 10px #ffffff;
}
