.body {
  min-height: 20vh;
  max-width: 40%;
  display: grid;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap
}

form > input {
    flex: 0.5 0.5 10ch;
    margin: .5rem
  }

form > input[type="email"] {
      flex: 3 1 30ch;
    }

input {
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem
}

input[type="submit"] {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0, 50%, 80%);
  }
